/*
 * Cherry color pallete
 */

$colorBackground: #23232F;
$colorForeground: #dee5e9;
$colorBlack:      #515b73;
$colorRed:        #FF568E;
$colorGreen:      #64DE83;
$colorYellow:     #EFFF73;
$colorBlue:       #73A9FF;
$colorMagenta:    #946FF7;
$colorCyan:       #46cfcc;
$colorWhite:      #ecf1f3;
